<div class="col-md-8 col-sm-8 col-xs-12">

    <div class="ftm-alb-title"><h2>FEATURED ALBUM </h2></div>
    <div class="sp-comments-box" ng-repeat = "name in listmovie">

        <div class="single_comment">
            <div class="single_comment_pic">
                <a href="Album/A-ZMovieSongs/{{name.name}}"><img alt="Friends Tamil Mp3" ng-src="FileSystem/A-Z Movie Songs/{{ name.name}}/poster.jpg" ></a> </div>
            <div class="single_comment_text">
                <div class="sp_title">
                    <a href="#/Album/A-ZMovieSongs/{{name.name}}"><h4 >{{ name.name}}</h4></a>
                </div>
                <p>Starring : {{ name.star}}</p>
                <p>Music : {{ name.music}}</p>
                <p>Director : {{ name.director}}</p>
                <p>Year: {{ name.year }}</p>
            </div>
        </div>
    </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="home_sidebar">
            <div class="follow_us_side">
                <div class="ftm-title">
                    <h2>TOP COLLECTIONS</h2>
                </div>


                <div class="purchase_sidebar_img m_t_l">
                    <img src="images/coll-img-1.jpg" alt="Friends Tamil Mp3">
                    <div class="purchase_overlay"></div>
                    <div class="purchase_sidebar_text">
                        <p>LOVE SONGS 2016</p>
                        <div class="purchase_s">
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                </div>

                <div class="purchase_sidebar_img m_t_l">
                    <img src="images/coll-img-2.jpg" alt="Friends Tamil Mp3">
                    <div class="purchase_overlay"></div>
                    <div class="purchase_sidebar_text">
                        <p>SPB HITS</p>
                        <div class="purchase_s">
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                </div>

                <div class="purchase_sidebar_img m_t_l">
                    <img src="images/coll-img3.jpg" alt="Friends Tamil Mp3">
                    <div class="purchase_overlay"></div>
                    <div class="purchase_sidebar_text">
                        <p>AR RAHMAN HITS</p>
                        <div class="purchase_s">
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                </div>

                <div class="purchase_sidebar_img m_t_l">
                    <img src="images/coll-img4.jpg" alt="Friends Tamil Mp3">
                    <div class="purchase_overlay"></div>
                    <div class="purchase_sidebar_text">
                        <p>ILAYARAJA HITS</p>
                        <div class="purchase_s">
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="home_sidebar">
            <div class="follow_us_side">
                <div class="ftm-title">
                    <h2>POPULAR DOWNLOADS</h2>
                </div>


                <div class="purchase_sidebar_img m_t_l">
                    <img src="images/pop-img1.jpg" alt="Friends Tamil Mp3">
                    <div class="purchase_overlay"></div>
                    <div class="purchase_sidebar_text">
                        <p>jithan-2</p>
                        <div class="purchase_s">
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                </div>

                <div class="purchase_sidebar_img m_t_l">
                    <img src="images/pop-img2.jpg" alt="Friends Tamil Mp3">
                    <div class="purchase_overlay"></div>
                    <div class="purchase_sidebar_text">
                        <p>Megaman </p>
                        <div class="purchase_s">
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                </div>

                <div class="purchase_sidebar_img m_t_l">
                    <img src="images/pop-img3.jpg" alt="Friends Tamil Mp3">
                    <div class="purchase_overlay"></div>
                    <div class="purchase_sidebar_text">
                        <p>Senthatti Kaalai Sevatha Kaalai</p>
                        <div class="purchase_s">
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                </div>

                <div class="purchase_sidebar_img m_t_l">
                    <img src="images/pop-img4.jpg" alt="Friends Tamil Mp3">
                    <div class="purchase_overlay"></div>
                    <div class="purchase_sidebar_text">
                        <p>Irudhi Sutru</p>
                        <div class="purchase_s">
                            <a href="#">VIEW MORE</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>